<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="kr.imapp.hybrid.imhotissue.settings"
      version="1.0.0">

    <name>HotIssueSettings</name>
    <description>HotIssueSettings Plugin</description>
    <license>Apache 2.0</license>
    <keywords></keywords>
    <repo></repo>
    <issue></issue>

    <engines>
      <engine name="cordova" version=">=3.1.0" /><!-- Needs cordova/urlutil -->
    </engines>

    <!-- android -->
    <platform name="android">
        <js-module src="www/hotissue_settings.js" name="settings">
        	<clobbers target="window.plugins.Settings" />
        </js-module>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IMSetupStub"> 
                <param name="android-package" value="kr.imapp.hybrid.imhotissue.settings.IMSetupStub"/>
            </feature>
        </config-file>

		<config-file target="AndroidManifest.xml" parent="/*">
		    <!-- // to support Nexus7 -->
		    <uses-feature
		        android:name="android.hardware.camera"
		        android:required="false" />
		    <uses-feature
		        android:name="android.hardware.telephony"
		        android:required="false" />
		        
    <uses-permission android:name="android.permission.GET_TASKS" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
		        
        <activity
            android:name=".IMSetup"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/app_name" />

        <receiver
            android:name=".IMWidget"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.blogspot.imapp.imhotissue.RELOAD" />
                <action android:name="com.blogspot.imapp.imhotissue.REFRESH" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>
		        
		</config-file>

        <source-file src="src/android/IMSetupStub.java" target-dir="src/kr/imapp/hybrid/imhotissue/settings" /> 
        <source-file src="src/android/ColorPickerDialog.java" target-dir="src/com/blogspot/imapp/imhotissue" /> 
        <source-file src="src/android/IMSetup.java" target-dir="src/com/blogspot/imapp/imhotissue" /> 
        <source-file src="src/android/DataHolder.java" target-dir="src/com/blogspot/imapp/imhotissue" /> 
        <source-file src="src/android/IMWidget.java" target-dir="src/com/blogspot/imapp/imhotissue" /> 

    </platform>

</plugin>
